<div class="post__share">
  <div class="share__head">
    <div class="share__title">Share this Post</div>
  </div>
  <ul class="share__list list-reset">
    <li class="share__item">
      <a class="share__link share__twitter"
        href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.permalink }}"
        onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
        title="Share on Twitter" rel="nofollow"><ion-icon name="logo-twitter"></ion-icon></a>
    </li>

    <li class="share__item">
      <a class="share__link share__facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ page.permalink }}"
        onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
        title="Share on Facebook" rel="nofollow"><ion-icon name="logo-facebook"></ion-icon></a>
    </li>

    {% if page.extra.image %}
    <li class="share__item">
      <a class="share__link share__pinterest"
        href="http://pinterest.com/pin/create/button/?url={{ page.permalink }}&amp;media={{ page.extra.image }}&amp;description={{ page.title }}"
        onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;"
        title="Share on Pinterest" aria-label="Share on Pinterest"><ion-icon name="logo-pinterest"></ion-icon></a>
    </li>
    {% endif %}

    <li class="share__item">
      <a class="share__link share__linkedin"
        href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.permalink }}&title={{ page.title }}&summary={{ page.description }}&source={{ page.title }}"
        onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
        title="Share on LinkedIn" rel="nofollow"><ion-icon name="logo-linkedin"></ion-icon></a>
    </li>
  </ul>
</div>
